:root{
  --red: rgb(217,4,41);
  --lired: rgb(239, 35, 60);
  --white: rgb(237, 242, 244);
  --grey: rgb(141, 153, 174);
  --black: rgb(43, 45, 66);

}
@font-face {
  font-family: "Archivo" !important;
  src: url("./ArchivoBlack-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Archivos";
  src: url("./Alata-Regular.ttf") format("truetype");
}
body{
  font-family: 'Archivos';

}
.front{
  width:100%;
  height: 100%;

 /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.9) 0px 0px 0px 0.1px inset; */
display: flex;
align-items: center;
/* border: 1px solid red; */
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-size: 100%;
margin-top: 3rem;
padding-top: 1%;
}

.front > div > h5{
  font-family: 'Archivo';

  color: var(--lired);
font-weight: bolder;
font-size: 2.4rem;
margin-left: 2rem;
}

.front > div > p:last-of-type{
  margin-top: 3%;
  width: 75%;
  font-size: 1.0rem;
  margin-left: 2rem;
  color: var(--black);

}

.front > .hero{
  width: 69% !important;
  height: 100%;
  display: flex;
  justify-content: center; 
  /* align-items: center; */
  flex-direction: column ;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.9) 0px 0px 0px 0.1px inset; */
  /* margin-top: 12px; */
  }
  .front > div > .button{
    
    margin-top: 4%;
    margin-left: 2rem;


}

.front > div > .button > button{
  border-radius: 4px;
color: var(--white);
width: 6rem;
height: 2rem;
background: var(--lired);
border: 0;
cursor: pointer;
font-weight: 600;
font-family: 'Archivo';

}
.handles{
display: flex;
width: 50%;
margin-left: 2rem;
gap: 1rem;
margin-top:3%;
}
.social{
width:2.5rem;
height: 2.5rem;
min-width: 40px;
/* border: 1px solid red; */
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
/* box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.9) 0px 0px 0px 0.1px inset; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

cursor: pointer;
}
.clip{
  height: clamp(19rem,2vw,100%) !important;
  width: clamp(23rem, 2vw, 40%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.curve{
  background-color: var(--lired);
  width: clamp(15rem, 60%, 26rem);
  height: clamp(23rem, 2vw, 80%);
  max-width: 420px;
  max-height: 440px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  display: flex;
  justify-content: center;
  align-items: center;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.9) 0px 0px 0px 0.1px inset;

}
.curve > img{
  width: 74%;
  height: 100%;
}

.Skills{
  width: 100%;
  /* height: max-content; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1); */
  justify-items: center;
  align-items: flex-start;

  column-gap: 3%;
  /* border: 1px solid red; */

}

.skills-show > h1 > svg{
  opacity: 1 !important;
  transition:1.2s all;
}
.Skills > h1 > svg{
  opacity: 0;
  /* transition: 1.2s all; */
}
.frontend{
  transform: translateX(0%) !important;
  transition:1s all;
  transition-duration: 0.7s all;

}
.backend{
  transform: translateX(0%) !important;
  transition:1s all;
  transition-duration: 0.7s all;
}
.Skills > h1{
  grid-column: 1/3;
  /* max-height: 10px; */
  margin-block: 1.3rem;
}
.Skills > div{
  /* border: 1px solid red; */
  width: clamp(14rem, 82%, 24rem );
  /* min-width: 14rem; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  
}
.Skills > .cat:first-of-type{
  justify-self: flex-end;
  transform: translateX(-110%);
}
.Skills > .cat:last-of-type{
  justify-self: flex-start;
  transform: translateX(110%);

}

.cat{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 2fr); */
  justify-items: center;
  /* padding-top: 1.3rem; */
  /* align-items: flex-start; */
  padding-bottom: 1.3rem;
  row-gap: 1.3rem;
  column-gap: 1.3rem;
  border-radius: 7px;
}

.cat > h3{
  grid-column: 1/3;
  margin-block: 1.4rem;

}
.cat > div{
  /* border: 1px solid red; */
  width: 90%;
  height: 6em;
  justify-self: flex-start;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.cat > div:hover{
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.cat > div:nth-child(even){
  justify-self: flex-end;

}
.project{
  display: grid;
  grid-template-rows: repeat(2, 1);
  justify-items: center;
  margin-top: 7%;
  width: 100%;

}
.projtran{
  transform: translateY(0%) !important;
  transition: 1s all;
}
.project > h1{
  margin-bottom: 5%;
  /* text-align: center; */
  /* align-self: center; */
  /* width: 100%; */
}
.proj{
  width: 100%;
  display: grid;
  /* grid-template-rows: repeat(2, 1fr); */
  justify-items: center;
  border: 1px solid transparent;
  row-gap: 1rem;

  height: max-content;  
}

.projsec{
  display: grid;
  width:100%;
  margin-inline: 1%;
  /* border: 1px solid red; */
  resize: both;
  transform: translateY(90%);
  height: 25rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  border-radius: 0.5rem;
}
.projsec:hover{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  
}
.projsec > .img > img{
  width: 100%;
  height: 100%;
    /* box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px; */
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
}
.projsec > .img{
  width: 90%;
  align-self: center;
  margin-top: 5%;
  height: 90%;
  grid-row: 1/4;
  overflow: hidden;
  /* background-color: red; */
  border-radius: 0.3rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  position: relative;
}
.projsec > .img::after{
  content: '';
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
/* .projsec:hover > .img::after{
display: block;
} */

.projsec:hover > .img{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.projsec > h2{
  align-self: center;
  
}
.projsec > div{
  align-self: flex-end;
  margin-bottom: 5%;
  justify-self: flex-end;
  margin-right: 5%;
  display: flex;
  gap: 1.6rem;
}
.projsec > div > a{
color: var(--black);
cursor: pointer;
}
.projsec > div > a > svg{
width: 1.5rem;
height: 1.5rem;
}
.projsec > div > a:hover{
color: var(--lired);
}
.about{
  width: 100%;
  height: 356px;
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(2, 1fr);  */
  justify-items: center;
  column-gap: 1rem;
  align-items: center;

}
.about > h1{
  grid-column: 1/3;
  /* max-height: 10px; */
  margin-block: 1.3rem;
}

.about > img{
  height: 83%;
  width: 90%;
  margin-left: 3%;
  border-radius: 7px;
  transform: translateX(-30%);

}
.about > div{
  transform: translateY(20%) ;
}
.about > div > p{
margin-top: 1em;
font-size:1.0rem;

}

.about > div > button{
  padding-inline: 2em;
  padding-block: 0.6em;
  font-family: "Archivo";
  background: var(--red);
  color: var(--white);
  border: 0;
cursor: pointer;
border-radius: 4px;
margin-top: 3%;
margin-bottom: 6%;
}

.aboutimg{
  transform: translateX(0%) !important;
  transition: 0.7s all;
}

.aboutcont{
  transform: translateY(0%) !important;
  transition: 0.7s all;
}

.contact{
  display: grid;
  height: fit-content;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, fit-content); 
  justify-items: center;
  align-items: center;
  column-gap: 0.3em;
/*   column-gap: 2px; */
  row-gap: 4%;
  margin-bottom: 8rem;
  margin-top: 4rem;
  /* align-items: center; */
}

.contact > h1{
  grid-column: 1/3;
}

.contact > img{
  grid-column: 1/3;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}
.contact > .textarea{
  grid-column: 1/3;
  width: 50%;
  height: 9rem;

  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 1%;
  min-width: 498px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position:relative;
}
.contact > .input{
  width: 50%;
  height: 4rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
  border-radius: 1%;
  min-width: 247px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  position:relative;
}

.contact > .textarea::before{
  content:attr(error);
  display:block;
  width:max-content;
  height:max-content;
  color:var(--red);
  position:absolute;
  bottom:-13%;
  left:1%;
}

.contact > .input::before{
  content:attr(error);
  display:block;
   width:max-content;
  height:max-content;
  color:var(--red);
  position:absolute;
  bottom:-28%;
  left:1%;
}
.contact > .textarea:focus{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.contact > .textarea > textarea{
width:100%;
height:100%;
    padding-left: 0.5em;
  padding-top: 0.5rem;
  font-size: 1.4rem;
  resize: none;
    outline: none;
  border: 0;
}

.contact > button{
  grid-column: 1/3;
  border-radius: 4px;
  color: var(--white);
  width: 50%;
  min-width: 498px;
  height: 3rem;
  background: var(--lired);
  border: 0;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Archivo';
}

.contact > .input > input{
width:100%;
height:100%;
   padding-left: 0.5rem;
  outline: none;
  border: 0;
  font-size: 1.4rem;
}
.contact > .input:focus{
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px; */
  /* box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}
.first{
  /* grid-column: 1/3; */
  justify-self: flex-end !important;

}
.last{
  /* grid-column: 1/3; */
  justify-self: flex-start !important;
}
.contact > button{
  grid-column: 1/3;
}

.menu{
display: none;
}
.header > div > a{
  /* margin-right: 5%; */
  text-decoration: none;
  color: var(--black);
}
.header > div > a:hover{
  color: var(--red);

}

.mobileheader{
  position: fixed;
  left: 50%;
  top: 0%;
  height: 100vh;
  width: 100%;
  transform: translateX(-50%);
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 100px); 
  row-gap: 1.3rem;
  column-gap: 1.3rem;
  background-color: rgb(237, 242, 244);
  z-index: 9999;
}

.mobileheader > a:nth-child(even){
  justify-self: flex-start;

}

.mobileheader > a{
  width: 90%;
  height: 6em;
  justify-self: flex-end;
  max-width: 165px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: var(--black);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  /* box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px; */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.mobileheader > a:focus{
color: var(--red);
}

.footer{
  width: 100%;
  padding: 1rem;
  /* background-color: var(--lired); */
  /* color: var(--white); */
  border-top: 1px solid lightgrey;
}
.footer > h3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
@media screen and (max-width: 1115px){

  .projsec{
    height: 20rem;
  }


}
@media screen and (max-width: 947px){
  .front > .hero > h5{
    font-size: 2.3rem;
  }
  /* .about > img{

  } */
}
@media screen and (max-width: 943px){
  .projsec{
    height: 15rem;
  }
  /* .contact > input{
  width: 60%;  
  }
  .contact > textarea{
  width: 60%;  
  }
  .contact > button{
  width: 60%;  
  } */
}
@media screen and (max-width: 947px){
  .front > .hero > h5{
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 874px){
  .front > .hero > h5{
    font-size: 2.1rem;
  }
}
@media screen and (max-width: 873px){
  .front > .hero > h5{
    font-size: 2rem;
  }
}
@media screen and (max-width: 801px){
  .front > .hero > h5{
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 765px){
  .front > .hero > h5{
    font-size: 1.8rem;
  }
  .about{
    grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(2, fit-content) !important;
  /* grid-auto-rows: 10px !important; */
  row-gap: 4rem;
    height: 240px;
  }
  .about > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about > img{
    
/*     height: 45%; */
  }
  .about > div > p{
    margin-inline: 5%;
    text-align: center;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 729px){
  .front > .hero > h5{
    font-size: 1.6rem;
  }
    .about{
    grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(2, fit-content) !important;
  /* grid-auto-rows: 10px !important; */
  row-gap: 4rem;
  }
  .about > img{
    width: 80%;

  }

}
@media screen and (max-width: 658px){
  .front > .hero > h5{
    font-size: 1.4rem;
  }
  .front > .hero > p{
    font-size: 0.8rem !important;
  }
    .about > div > p{
      font-size: 0.8rem !important;
    }

}
@media screen and (max-width: 583px){
  .front > .hero > h5{
    font-size: 1.2rem;
  }
  
}
@media screen and (max-width: 530px){
  .contact {
    grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(6, fit-content); 
  align-items: center;
  /* justify-items: center; */
  }
  /* .contact > h1{
    width: 100%;
    text-align: center;
  } */
  .contact > .input{
    min-width: 90%;  
    grid-column: 1/1;
  justify-self: center !important;

    }
    .contact > .textarea{
      grid-column: 1/1;
      min-width: 90%;  

    }
    .contact > button{
      min-width: 90%;  
      grid-column: 1/1;

    } 
  }

@media screen and (max-width: 509px){
  .front{
    flex-direction: column-reverse;
    height: fit-content;
  }
  .front > .hero{
    /* justify-content: center; */
    align-items: center;
    width: 100%;
  }
  .front > .hero > p{
    /* font-size: 1rem !important; */
    width: 100%;
    text-align: center;
    margin-left: 0rem !important;
    
  }
  .front > .hero > h5{
    /* font-size: 0.8rem !important; */
    text-align: center;
    margin-left: 0rem !important;
    
  }
  .front > .hero > h5:first-of-type{
    margin-top: 6%;
  }
  .front > .hero > .button{
    margin-top: 5%;
    margin-left: 0rem;
  }
  .handles{
    margin-left: 0rem !important;
    justify-content: center;
  }
  .clip{
    margin-top: 4%;

  }
  .Skills{
  grid-template-columns: repeat(1, 1fr) !important;
  grid-template-rows: repeat(3, max-content) !important;
  /* grid-auto-rows: 10px !important; */
  row-gap: 4rem;
  margin-top: 16%;

}
.project{
  margin-top: 16%;
}
  .Skills > h1{
    grid-column: 1/1 !important;
  margin-block: 0.3rem !important;
  height: fit-content !important;
  /* grid-auto-flow: ; */
  height: 10px !important;


  }
  .Skills > .cat:first-of-type{
    justify-self: center;
  
  }
  .Skills > .cat:last-of-type{
    justify-self: center;
  }

}

@media screen and (max-width: 763px){

  .projsec{
    height: 12rem;
  }
}

@media screen and (max-width: 763px){
  .projsec{
    height: 10rem;
    margin-bottom: 1rem;
  }
  .projsec > h2{
    font-size: 90%;
  }
  .projsec > p{
    font-size: 0.7rem;
  }

}


@media screen and (max-width: 523px){
  
  .projsec > h2{
    font-size: 90%;
  }
  .projsec > p{
    font-size: 0.5rem;
  }

}

@media screen and (max-width: 406px){
  .projsec{
    height: 8rem;
    
  }
}

@media screen and (max-width: 332px){
  .projsec{
    height: 7rem; 
  }
}

@media screen and (max-width: 354px){
  .projsec > div > a > svg{
    width: 1.2rem;
    height: 1.2rem;
    }
    .footer > h3{
    font-size: 0.9rem;
    }
}
